
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1440px;
    }
}
    .layout-container {
        background: #F7F7F9;
    }
    a.btn.btn-primary.create-new.btn-primary.waves-effect.waves-light {
        color: #fff;
        background-color: #2D92D0 !important;
        border-color: #2D92D0 !important;
    }
    .card-header.d-flex.justify-content-between.align-items-center {
        margin-bottom: 10px;
    }
    button.dt-button.buttons-html5,button.dt-button.buttons-print {
        color: #2D92D0;
        border-color: #e7e7ff;
        background: #e7e7ff;
        border-radius: 8px;
    }  
    button.dt-button.buttons-html5:hover,button.dt-button.buttons-print:hover {
        color: #fff;
        background-color: #2D92D0 !important;
        border-color: #2D92D0 !important;
        border-radius: 8px;
    } 

    .card-datatable.table-responsive {
        padding: 0 10px;
    }
    th.sorting.sorting_asc {
        height: 30px !important;
        vertical-align: middle;
    }
    .container-box {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #dcdcdc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .table-container {
        overflow-x: auto;
    }

    table.dataTable {
        border-collapse: collapse;
        width: 100%;
    }

    table.dataTable th, table.dataTable td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
    }

    table.dataTable th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    table.dataTable tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table.dataTable tbody tr:hover {
        background-color: #f1f1f1;
    }

    .buttons-container {
        margin-bottom: 15px;
    }